body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    font-size: 16px;
  }
  
  .container {
    background: #ddd;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
  }
  
  .search-form {
    position: relative;
    width: 450px;
  }
  
  .input {
    height: 45px;
    outline: 0;
    width: 450px;
    background: #fff;
    padding: 0 1.6rem;
    border-radius: 4px;
    appearance: none;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    position: relative;
    border: 0;
    font-size: 18px;
    font-family: inherit;
  }
  
  .input:not(:placeholder-shown) {
    border-radius: 4px 0 0 4px;
    width: calc(100% - 150px);
  }
  
  .button {
    display: block;
    position: absolute;
    border: 0;
    top: 0;
    right: 0;
    width: 150px;
    height: 45px;
    font-size: 16px;
    background: #333;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .button:hover,
  .button:focus {
    background-color: #555;
  }
  
  .load-more {
    display: block;
    margin: 20px auto;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: 0;
    border-radius: 8px;
  }
  
  .load-more:hover,
  .load-more:focus {
    background-color: #555;
  }
  
  .is-hidden {
    display: none;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: calc(100vw - 80px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  .info {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  
  .info-item {
    font-size: 14px;
  }
  
  span {
    font-weight: normal;
    margin-right: 3px;
  }
  